@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

:root {
  font-family: "Nova Square", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
html {
}

.animate-rainbow {
  animation: rainbow 50s infinite;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 9s ease infinite alternate;
  -moz-animation: animatedgradient 9s ease infinite alternate;
  animation: animatedgradient 9s ease infinite alternate;
}

.flicker {
  color: #fffefee1;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#1d1c1c),
      color-stop(0.8, #ffffff)
    )
    no-repeat;
  background: gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.8, #fff)
    )
    no-repeat;
  background-size: 80px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 0.7s infinite;
}
